<div id="wrap">
<div id="inner">
<% @allmovies.each do |slice| %>
<%= div_for slice do %>
	<div class = "firstbite_row row">
		<div class = "movie_and_title left" id = "first_movie_and_title">
			<div class = "firstbite_movieposter" id = "first_poster">
				<%= link_to image_tag(slice.at(0).url, class: "movie_image"), {:controller => 'static_pages', :action => 'update_movie_attr', :id => slice.at(0).id}, :remote => true %>
			</div>
			<p class="movie_title"><%= slice.at(0).title %></p>
		</div>


		<div class = "movie_and_title right" id = "second_movie_and_title">
			<div class = "firstbite_movieposter" id = "second_poster">
				<%= link_to image_tag(slice.at(1).url, class: "movie_image"), {:controller => 'static_pages', :action => 'update_movie_attr', :id => slice.at(1).id}, :remote => true %>
			</div>
			<p class="movie_title"><%= slice.at(1).title %></p>
		</div>

		
	</div>
	
<% end %>
<% end %>
</div>
</div>

<script type = "text/javascript">

function move() {
    var bh = $(document).height();
    $('.row').each(function() {
        var rh = $(this).offset().top; //get distance between row and top of window
        var op = 0; //position to come together (0=top :: 1=bottom)
        var dn = ((rh/bh)-op)*100; //turn distance into pos
        var oo = ((dn-50)*-2)/100; //calc opacity
        if (oo < 0.2) { oo = 0.2; } //minimum opacity
        var as = 500; //speed *animation is not active, css is faster than animate but choppy in ff
        //min and max values && bottom pos/opacity
        if ( false) { dn = 2; oo = 1; }
        else if (dn > 50) { dn = 50; }
        //animation
         //for linear animation
            //animate
            $(this).children('.left').css('margin-left', '-'+dn+'%');
            $(this).children('.right').css('margin-right', '-'+dn+'%');
        
        $(this).fadeTo(0, oo); //fade in/out
    });   
}


});


	$('.movie_and_title').click( function() {

		var div = $(this);

		if (div.attr("id") == "first_movie_and_title")
		{
			
			var second = $('#second_movie_and_title', $(this).parent());

			$(second).fadeTo(1000,.25);
			$(this).fadeTo(1000,1);

			
		}
		else if (div.attr("id") == "second_movie_and_title")
		{

			var first = $('#first_movie_and_title', $(this).parent());

			$(first).fadeTo(1000,.25);
			$(this).fadeTo(1000,1);

		}

		
	});



</script>

