<% provide(:title, 'Home') %>
<style>


</style>

<% if signed_in? %>

  <br>

  <aside class="span4" id="feed_left_column">
    <section>
      <%= render 'shared/user_info' %>
    </section>
    <section>
      <%= render 'shared/stats' %>
    </section>
    <br>
    <section>
      <%= render 'shared/pages' %>
    </section>
  </aside>
  <div class="home_page">
    <div class = "span10" id = "feed_main_column">
      <div class = "feed_new_post">
        <%= render 'shared/micropost_form' %>
      </div>


      <div id="wrapper">
        <%= render 'shared/feed' %>
      </div>
    </div>
  </div>

  <div class="friends_sidebar">
    <div id="f_side_title">Tastebuds</div>
    <hr id="taste_hr">
    <div class="tastebuds">
      <div class="tastebud">
        <div class="tastebud_gravatar"><%= gravatar_for(@users[1]) %></div>
        <%= @users[1].name %>
      </div>
      <div class="tastebud">
        <div class="tastebud_gravatar"><%= gravatar_for(@users[2]) %></div>
        <%= @users[2].name %>
      </div>
      <div class="tastebud">
        <div class="tastebud_gravatar"><%= gravatar_for(@users[3]) %></div>
        <%= @users[3].name %>
      </div>
      <div class="tastebud">
        <div class="tastebud_gravatar"><%= gravatar_for(@users[4]) %></div>
        <%= @users[4].name %>
      </div>
      <div class="tastebud">
        <div class="tastebud_gravatar"><%= gravatar_for(@users[5]) %></div>
        <%= @users[5].name %>
      </div>
    </div>
  </div>
  
<% else %>
	<div class="center hero-unit">
 		<img src="assets/logo.png" height="100" width="100">
    <img src="assets/name_logo.png" height="40" width="300" id="name_logo">
    <br>
    <p id="logo_text">taste the future.</p>
    <br><br>
    <p id="coming_soon">COMING SOON</p>
    <br><br>
  	<%= link_to image_tag('email_signup.png'), signup_path %>
    <span id="fb_sign_in"><img src="assets/fb_login.png"></span>
	</div>
  <div class = "signup_animation">
    <img src="assets/signup_sketches.jpg">
  </div>
<% end %>

<script>
  $('#fb_sign_in').mousedown( function() {
  });
</script>


