<% provide(:title, 'Home') %>
<style>


</style>

<% if signed_in? %>

  <h1 id = "feed_title">Feed</h1>
  <br>
    <aside class="span4">
      <section>
        <%= render 'shared/user_info' %>
      </section>
      <section>
        <%= render 'shared/stats' %>
      </section>
      <section>
        <%= render 'shared/micropost_form' %>
      </section>
    </aside>

    <div id="wrapper">
      <%= render 'shared/feed' %>
    </div>
  
<% else %>
	<div class="center hero-unit">
 		<img src="assets/logo.png" height="100" width="100">
  		<img src="assets/name_logo.png" height="100" width="240">
  		<p>taste the future.</p>
  		<%= link_to "Sign up now!", signup_path , class: "btn btn-large btn-primary" %>
  	</div>
<% end %>
