<% provide(:title, 'Home') %>
<style>


</style>

<% if signed_in? %>

  <br>

  <aside class="span4" id="feed_left_column">
    <section>
      <%= render 'shared/user_info' %>
    </section>
    <section>
      <%= render 'shared/stats' %>
    </section>
  </aside>

  <div class = "span10" id = "feed_main_column">
    <div class = "feed_new_post">
      <%= render 'shared/micropost_form' %>
    </div>


    <div id="wrapper">
      <%= render 'shared/feed' %>
    </div>
  </div>
  
<% else %>
	<div class="center hero-unit">
 		<img src="assets/logo.png" height="100" width="100">
  		<img src="assets/name_logo.png" height="100" width="240">
  		<p>taste the future.</p>
  		<%= link_to "Sign up now!", signup_path , class: "btn btn-large btn-primary" %>
  	</div>
<% end %>
