
<div class="pin_user">
	<div id = "five_artists" >
		<div class = "five_text">
			Top 5 Artists
		</div>
		<div class = "profile_page_artist span1">
			<span class = "profile_page_artist_poster">
				<%= image_tag(Artist.first.image_url) %>
			</span>
			<span class = "profile_page_artist_name">
				<%= Artist.first.name %>
			</span>
		</div>
		<div class = "profile_page_artist span1">
			<span class = "profile_page_artist_poster">
				<%= image_tag((Artist.take(2))[1].image_url) %>
			</span>
			<span class = "profile_page_artist_name">
				<%= Artist.take(2)[1].name %>
			</span>
		</div>
		<div class = "profile_page_artist span1">
			<span class = "profile_page_artist_poster">
				<%= image_tag((Artist.take(3))[2].image_url) %>
			</span>
			<span class = "profile_page_artist_name">
				<%= Artist.take(3)[2].name %>
			</span>
		</div>
		<div class = "profile_page_artist span1">
			<span class = "profile_page_artist_poster">
				<%= image_tag((Artist.take(4))[3].image_url) %>
			</span>
			<span class = "profile_page_artist_name">
				<%= Artist.take(4)[3].name %>
			</span>
		</div>
		<div class = "profile_page_artist span1">
			<span class = "profile_page_artist_poster">
				<%= image_tag((Artist.take(5))[4].image_url) %>
			</span>
			<span class = "profile_page_artist_name">
				<%= Artist.take(5)[4].name %>
			</span>
		</div>
		
	</div>
</div>
