<div class = "personal_rating" id = "<%= media.title %>">
	<span class = "rating_dot red_dot">
		<%= render partial: 'shared/dot_form', locals: { media: media, rating: 0.2, dot_png: 'red_dot' } %>
	</span>
	<span class = "rating_dot yellow_dot">
		<%= render partial: 'shared/dot_form', locals: { media: media, rating: 0.4, dot_png: 'yellow_dot' } %>
	</span>
	<span class = "rating_dot green_dot">
		<%= render partial: 'shared/dot_form', locals: { media: media, rating: 0.6, dot_png: 'green_dot' } %>
	</span>
	<span class = "rating_dot blue_dot">
		<%= render partial: 'shared/dot_form', locals: { media: media, rating: 0.8, dot_png: 'blue_dot' } %>
	</span>
	<span class = "rating_dot purple_dot">
		<%= render partial: 'shared/dot_form', locals: { media: media, rating: 1.0, dot_png: 'purple_dot' } %>
	</span>
</div>


<script>
	$(this).load( function() {
 		if ($('.purple_dot').parent().attr('id') == "<%= media.title %>")
 		{
 			if (<%= current_user.rated?(media) %>)
			{
 				var media_rating = <%= current_user.rating_for(media) %>;
 				//alert(media_rating);
 				//alert("<%= media.title %>");
 				if (media_rating < 1)
 				{
 					$('.purple_dot').stop().fadeOut();
 
 					if (media_rating < 0.8)
 					{
 						$('.purple_dot').siblings('.blue_dot').stop().fadeOut();
 
 						if (media_rating < 0.6)
 						{
 							$('.purple_dot').siblings('.green_dot').stop().fadeOut();
 
 							if (media_rating < 0.4)
 							{
								$('.purple_dot').siblings('.yellow_dot').stop().fadeOut();
 							}
 						}
 					}
 				}
 				
 			}
 			
 		}
 	});
 
	
	// Handle the hover events
	$(".red_dot").hover(function() {
		$(this).siblings().stop().fadeOut();
	},
	function() {
		if ($(this).parent().attr('id') == "<%= media.title %>")
 		{
 			if (<%= current_user.rated?(media) %>)
 			{
 				var media_rating = <%= current_user.rating_for(media) %>;
 				//alert(media_rating);
 				//alert("<%= media.title %>");
 				if (media_rating >= 0.4)
 				{
 					$(this).siblings('.yellow_dot').stop().fadeIn();
 				}
 				
 				if (media_rating >= 0.6)
 				{
 					$(this).siblings('.green_dot').stop().fadeIn();
 				}
 				if (media_rating >= 0.8)
 				{
 					$(this).siblings('.blue_dot').stop().fadeIn();
 				}
 				if (media_rating == 1.0)
 				{
 					$(this).siblings('.purple_dot').stop().fadeIn();
 				}
 				
 			}
 			else
 			{
 				$(this).siblings().stop().fadeIn();
 
 			}
 			
 		}
 
	});

	$(".yellow_dot").hover(function() {
		$(this).siblings(".green_dot").stop().fadeOut();
		$(this).siblings(".blue_dot").stop().fadeOut();
		$(this).siblings(".purple_dot").stop().fadeOut();
	},
	function() {
		if ($(this).parent().attr('id') == "<%= media.title %>")
 		{
 			if (<%= current_user.rated?(media) %>)
 			{
 				var media_rating = <%= current_user.rating_for(media) %>;
 				//alert(media_rating);
 				//alert("<%= media.title %>");
 				if (media_rating < 0.4)
 				{
 					$(this).stop().fadeOut();
 				}
 				
 				if (media_rating >= 0.6)
 				{
 					$(this).siblings('.green_dot').stop().fadeIn();
 				}
 				if (media_rating >= 0.8)
 				{
 					$(this).siblings('.blue_dot').stop().fadeIn();
 				}
 				if (media_rating == 1.0)
 				{
 					$(this).siblings('.purple_dot').stop().fadeIn();
 				}
 				
 			}
 			else
 			{
 				$(this).siblings().stop().fadeIn();
 
 			}
 			
 		}
	});

	$(".green_dot").hover(function() {
		$(this).siblings(".blue_dot").stop().fadeOut();
		$(this).siblings(".purple_dot").stop().fadeOut();
	},
	function() {
		if ($(this).parent().attr('id') == "<%= media.title %>")
 		{
 			if (<%= current_user.rated?(media) %>)
 			{
 				var media_rating = <%= current_user.rating_for(media) %>;
 				//alert(media_rating);
 				//alert("<%= media.title %>");
 				if (media_rating < 0.6)
 				{
 					$(this).stop().fadeOut();
 
 					if (media_rating < 0.4)
 					{
 						$(this).siblings('.yellow_dot').stop().fadeOut();
 					}
 				}
 				if (media_rating >= 0.8)
 				{
 					$(this).siblings('.blue_dot').stop().fadeIn();
 				}
 				if (media_rating == 1.0)
 				{
 					$(this).siblings('.purple_dot').stop().fadeIn();
 				}
 				
 			}
 			else
 			{
 				$(this).siblings().stop().fadeIn();
 
 			}
 			
 		}
	});

	$(".blue_dot").hover(function() {
		$(this).siblings(".purple_dot").stop().fadeOut();
	},
	function() {
		if ($(this).parent().attr('id') == "<%= media.title %>")
 		{
 			if (<%= current_user.rated?(media) %>)
 			{
 				var media_rating = <%= current_user.rating_for(media) %>;
 				//alert(media_rating);
 				//alert("<%= media.title %>");
 				if (media_rating < 0.8)
 				{
 					$(this).stop().fadeOut();
					if (media_rating < 0.6)
 					{
 						$(this).siblings('.green_dot').stop().fadeOut();

						if (media_rating < 0.4)
 						{
 							$(this).siblings('.yellow_dot').stop().fadeOut();
 						}
 					}
 				}
 				if (media_rating == 1.0)
 				{
 					$(this).siblings('.purple_dot').stop().fadeIn();
 				}
 				
 			}
 			else
 			{
 				$(this).siblings().stop().fadeIn();

			}
		}
	});
	$(".purple_dot").hover(function() {
 	},
 	function() {
 		if ($(this).parent().attr('id') == "<%= media.title %>")
 		{
 			if (<%= current_user.rated?(media) %>)
 			{
 				var media_rating = <%= current_user.rating_for(media) %>;
 				//alert(media_rating);
 				//alert("<%= media.title %>");
 				if (media_rating < 1)
 				{
 					$(this).stop().fadeOut();
 
 					if (media_rating < 0.8)
 					{
 						$(this).siblings('.blue_dot').stop().fadeOut();
 
 						if (media_rating < 0.6)
 						{
 							$(this).siblings('.green_dot').stop().fadeOut();
 
 							if (media_rating < 0.4)
 							{
 								$(this).siblings('.yellow_dot').stop().fadeOut();
 							}
 						}
 					}
 				}
 				
 			}
 			
 		}
 	});


	

      
</script>


