<div class="pin_user">
	<div  id= "five_movies" >
		<div class = "five_text">
			Top 5 Movies <br><br>
		</div>

		<div class="profile_page_movie span1">
			<span class = "profile_page_movie_poster">
				<%= image_tag(Movie.first.url) %>
			</span>
			<span class = "profile_page_movie_title">
				<%= Movie.first.title %>
			</span>
		</div>
		<div class = "profile_page_movie span1">
			<span class = "profile_page_movie_poster">
				<%= image_tag((Movie.take(2))[1].url) %>
			</span>
			<span class = "profile_page_movie_title">
				<%= Movie.take(2)[1].title %>
			</span>
		</div>
		<div class = "profile_page_movie span1">
			<span class = "profile_page_movie_poster">
				<%= image_tag((Movie.take(3))[2].url) %>
			</span>
			<span class = "profile_page_movie_title">
				<%= Movie.take(3)[2].title %>
			</span>
		</div>
		<div class = "profile_page_movie span1">
			<span class = "profile_page_movie_poster">
				<%= image_tag((Movie.take(4))[3].url) %>
			</span>
			<span class = "profile_page_movie_title">
				<%= Movie.take(4)[3].title %>
			</span>
		</div>
		<div class = "profile_page_movie span1" >
			<span class = "profile_page_movie_poster">
				<%= image_tag((Movie.take(5))[4].url) %>
			</span>
			<span class = "profile_page_movie_title">
				<%= Movie.take(5)[4].title %>
			</span>
		</div>
	</div>
</div>