<%= form_for(current_user,
             remote: true) do |f| %>
  <div><%= f.hidden_field :adventurousness_affinity %></div>
  <div><%= f.hidden_field :instinctiveness_affinity %></div>
  <div><%= f.hidden_field :valence_affinity %></div>
  <div><%= f.hidden_field :freshness_affinity %></div>
  <div><%= f.hidden_field :pace_affinity %></div>
  <%= image_submit_tag(movie.url)  %>
<% end %>


