<% provide(:title, @user.name) %>
<div class="row">
	<aside class="span4">
		<section>
			<h1>
				<%= gravatar_for @user %>
				<%= @user.name %>
			</h1>
		</section>
		<section>
			<%= render 'shared/stats' %>
		</section>
	</aside>
	<%= link_to "Profile Me!", firstbite_url , class: "btn btn-large btn-primary" %>

	<br><br><br><br><br><br><br>


	<div class="taste_profile">
		<div class = "profile_bits">
			<div class = "profile_bits_text">
				<%= display_profile_bits %>
			</div>
		</div>
	</div>

	<br><br>

	<div id="columns_user">
		<div class="pin_user">
			<div class= "five_movies" style = "overflow:hidden" >
				<div class = "five_text">
					Top 5 Movies <br><br>
					<div class="profile_page_movie">
						<%= image_tag(Movie.first.url) %>
					</div>
					<div class = "profile_page_movie">
						<%= image_tag((Movie.take(2))[1].url) %>
					</div>
					<div class = "profile_page_movie">
						<%= image_tag((Movie.take(3))[2].url) %>
					</div>
					<div class = "profile_page_movie">
						<%= image_tag((Movie.take(4))[3].url) %>
					</div>
					<div class = "profile_page_movie" >
						<%= image_tag((Movie.take(5))[4].url) %>
					</div>
				</div>
			</div>
		</div>

		<br><br>

		<div class="pin_user">
			<div class= "five_songs" >
				<div class = "five_text">
					Top 5 Songs
				</div>
			</div>
		</div>

		<br><br>

		<div class="pin_user">
			<div class= "five_celebs" >
				<div class = "five_text">
					Most Similar Celebs
				</div>
			</div>
		</div>
	</div>

	<div>
		<%= @adventurousness %>
		<%= @user.adventurousness_affinity %>
		<%= @instinctiveness %>
		<%= @user.instinctiveness_affinity %>
		<%= @pace %>
		<%= @user.pace_affinity %>
		<%= @valence %>
		<%= @user.valence_affinity %>
	</div>

	<div class="span8">
		<%= render 'follow_form' if signed_in? %>
	</div>
</div>